In [11]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv("C:/Users/22211/OneDrive/Documents/Indian Liver Patient Dataset (ILPD).csv")

In [13]:
df

,Age,Gender,Total Biluribin,Direct Bilurubin,Alkophos,Sgpt,Sgot,Total protiens,Albumin,AG Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
1578,47,Male,0.8,0.3,237,24,28,5.8,3.3,0.90,1
1579,35,Male,1.2,0.4,204,25,37,6.2,3.0,0.90,1
1580,22,Male,1.5,0.3,232,47,43,7.5,3.1,1.40,1
1581,18,Female,2.0,0.3,215,21,32,7.2,2.7,1.40,1
1582,78,Female,0.8,0.3,245,22,48,6.5,3.8,1.40,1

In [14]:
Y =df["Dataset"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: Dataset, dtype: int64

In [15]:
df=df.drop("Dataset",axis=1)
df.head()

,Age,Gender,Total Biluribin,Direct Bilurubin,Alkophos,Sgpt,Sgot,Total protiens,Albumin,AG Ratio
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40

df_2=pd.get_dummies(df, cloumns=["Gender"], drop_first=False)
df_2

In [16]:
df_2 = pd.get_dummies(df, columns=["Gender"], drop_first=False)
df_2

,Age,Total Biluribin,Direct Bilurubin,Alkophos,Sgpt,Sgot,Total protiens,Albumin,AG Ratio,Gender_Female,Gender_Male
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,True,False
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,False,True
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,False,True
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,False,True
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,False,True
...,...,...,...,...,...,...,...,...,...,...,...
1578,47,0.8,0.3,237,24,28,5.8,3.3,0.90,False,True
1579,35,1.2,0.4,204,25,37,6.2,3.0,0.90,False,True
1580,22,1.5,0.3,232,47,43,7.5,3.1,1.40,False,True
1581,18,2.0,0.3,215,21,32,7.2,2.7,1.40,True,False
1582,78,0.8,0.3,245,22,48,6.5,3.8,1.40,True,False

In [17]:
from sklearn import preprocessing 
x=df_2.values
min_max_scaler=preprocessing.MinMaxScaler()
x_scaled=min_max_scaler.fit_transform(x)
df=pd.DataFrame(x_scaled)
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.709302,0.004021,0.000000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,1.0,0.0
1,0.674419,0.140751,0.275510,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,0.0,1.0
2,0.674419,0.092493,0.204082,0.208598,0.025126,0.011791,0.623188,0.521739,0.236,0.0,1.0
3,0.627907,0.008043,0.015306,0.058134,0.002010,0.002033,0.594203,0.543478,0.280,0.0,1.0
4,0.790698,0.046917,0.096939,0.064485,0.008543,0.009961,0.666667,0.326087,0.040,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1578,0.500000,0.005362,0.010204,0.085002,0.007035,0.003659,0.449275,0.521739,0.240,0.0,1.0
1579,0.360465,0.010724,0.015306,0.068881,0.007538,0.005489,0.507246,0.456522,0.240,0.0,1.0
1580,0.209302,0.014745,0.010204,0.082560,0.018593,0.006709,0.695652,0.478261,0.440,0.0,1.0
1581,0.162791,0.021448,0.010204,0.074255,0.005528,0.004472,0.652174,0.391304,0.440,1.0,0.0
1582,0.860465,0.005362,0.010204,0.088911,0.006030,0.007725,0.550725,0.630435,0.440,1.0,0.0

In [18]:
df.fillna(df.mean(),inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.709302,0.004021,0.000000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,1.0,0.0
1,0.674419,0.140751,0.275510,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,0.0,1.0
2,0.674419,0.092493,0.204082,0.208598,0.025126,0.011791,0.623188,0.521739,0.236,0.0,1.0
3,0.627907,0.008043,0.015306,0.058134,0.002010,0.002033,0.594203,0.543478,0.280,0.0,1.0
4,0.790698,0.046917,0.096939,0.064485,0.008543,0.009961,0.666667,0.326087,0.040,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1578,0.500000,0.005362,0.010204,0.085002,0.007035,0.003659,0.449275,0.521739,0.240,0.0,1.0
1579,0.360465,0.010724,0.015306,0.068881,0.007538,0.005489,0.507246,0.456522,0.240,0.0,1.0
1580,0.209302,0.014745,0.010204,0.082560,0.018593,0.006709,0.695652,0.478261,0.440,0.0,1.0
1581,0.162791,0.021448,0.010204,0.074255,0.005528,0.004472,0.652174,0.391304,0.440,1.0,0.0
1582,0.860465,0.005362,0.010204,0.088911,0.006030,0.007725,0.550725,0.630435,0.440,1.0,0.0

In [19]:
!pip install pydotplus

Requirement already satisfied: pydotplus in c:\users\22211\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\22211\anaconda3\lib\site-packages (from pydotplus) (3.0.9)

In [20]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, mean_squared_error, f1_score, precision_score, recall_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from math import sqrt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv("C:/Users/22211/OneDrive/Documents/Indian Liver Patient Dataset (ILPD).csv")
Y = df["Dataset"]
X = df.drop(columns=["Dataset"])
X = pd.get_dummies(X, columns=["Gender"], drop_first=False)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)
clf = DecisionTreeClassifier(random_state=0)
clf.fit(X_train_scaled, y_train)
ypred = clf.predict(X_test_scaled)
asc = accuracy_score(y_test, ypred)
mse = mean_squared_error(y_test, ypred)
rmse = sqrt(mse)
f1 = f1_score(y_test, ypred)
precision = precision_score(y_test, ypred)
recall = recall_score(y_test, ypred)
print(f"Accuracy Score: {asc}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"F1 Score: {f1}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")

Accuracy Score: 0.8706624605678234
Mean Squared Error: 0.12933753943217666
Root Mean Squared Error: 0.3596352866894135
F1 Score: 0.9250457038391225
Precision: 0.9233576642335767
Recall: 0.9267399267399268

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, confusion_matrix
from sklearn.impute import SimpleImputer
from math import sqrt

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

clf = RandomForestClassifier(n_estimators=100, max_depth=10, class_weight='balanced', random_state=0)

clf.fit(X_train_imputed, y_train)

ypred = clf.predict(X_test_imputed)

asc = accuracy_score(y_test, ypred)
mse = mean_squared_error(y_test, ypred)
rmse = sqrt(mse)
f1 = f1_score(y_test, ypred)
precision = precision_score(y_test, ypred)
recall = recall_score(y_test, ypred)

print(f"Accuracy Score: {asc}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"F1 Score: {f1}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")

Accuracy Score: 0.9022082018927445
Mean Squared Error: 0.09779179810725552
Root Mean Squared Error: 0.3127168017667991
F1 Score: 0.945518453427065
Precision: 0.9087837837837838
Recall: 0.9853479853479854

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, mean_squared_error, f1_score, precision_score, recall_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from math import sqrt
import numpy as np
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)
clf = LogisticRegression(max_iter=1000, random_state=0)
clf.fit(X_train_scaled, y_train)
ypred = clf.predict(X_test_scaled)
asc = accuracy_score(y_test, ypred)
mse = mean_squared_error(y_test, ypred)
rmse = sqrt(mse)
f1 = f1_score(y_test, ypred)
precision = precision_score(y_test, ypred)
recall = recall_score(y_test, ypred)
print(f"Accuracy Score: {asc}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"F1 Score: {f1}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")

Accuracy Score: 0.8769716088328076
Mean Squared Error: 0.12302839116719243
Root Mean Squared Error: 0.3507540322892845
F1 Score: 0.9331046312178387
Precision: 0.8774193548387097
Recall: 0.9963369963369964

In [23]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, mean_squared_error, f1_score, precision_score, recall_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from math import sqrt
import numpy as np
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)
clf = SVC(kernel='rbf', random_state=0) 
clf.fit(X_train_scaled, y_train)
ypred = clf.predict(X_test_scaled)
asc = accuracy_score(y_test, ypred)
mse = mean_squared_error(y_test, ypred)
rmse = sqrt(mse)
f1 = f1_score(y_test, ypred)
precision = precision_score(y_test, ypred)
recall = recall_score(y_test, ypred)
print(f"Accuracy Score: {asc}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"F1 Score: {f1}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")

Accuracy Score: 0.8706624605678234
Mean Squared Error: 0.12933753943217666
Root Mean Squared Error: 0.3596352866894135
F1 Score: 0.93015332197615
Precision: 0.8694267515923567
Recall: 1.0